@import '../App.scss';

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid themed('border');
        height: 50px;
        color: themed('textColor');
        background-color: themed('bg');
        position: sticky;
        top: 0;
        z-index: 10;
        
        .left {
            display: flex;
            align-items: center;
            gap: 30px;
            
            .link {
                text-decoration: none;
                
                span {
                    color: themed('logo');
                    font-size: 25px;
                    font-weight: bold;
                }
            }
            
            .icon {
                cursor: pointer;
            }
            
            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed('border');
                border-radius: 5px;
                padding: 3px;
            
            .searchIcon {
                color: gray;
            }
            
            input {
                border: none;
                outline: none;
                background-color: transparent;
                width: 400px;
                font-size: 15px;
                color: themed('textColor');

                @include mobile {
                    display: none;
                }

                @include tablet {
                    width: 200px;
                }
            }
        }
    }
    
    .right {
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            display: none;
        }

        
        .icon {
            cursor: pointer;
        }
        
        .user {
            display: flex;
            align-items: center;
            gap: 5px;

            @include tablet {
                display: none;
            }
        
            span {
                font-weight: 500;
            }
        }
    }
    }
}