@import '../App.scss';

.rightbar {
    @include themify($themes){

        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed('bgSoft');
        color: themed('textColor');
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        .container {
            padding: 20px;
            

        .item {
            -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.7);
            box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.7);
            padding: 20px;
            margin-bottom: 25px;
            background-color: themed('bg');

            
            .subTitle {
                color: gray;
            }
            
            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0;
                
                .userInfo {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    position: relative;
                    
                    p {
                        color: themed('textColorSoft');

                    }
                    
                    .online {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position: absolute;
                        top: 0;
                        left: 28px;
                    }
                    
                    span {
                        font-weight: 500;
                        color: themed('textColor');

                    }

                }
                
                .time {
                    font-size: 12px;
                }
                
                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                    button {
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        color: white;
                        
                        &:first-child {
                            background-color: #5271ff;
                        }
                        
                        &:last-child {
                            background-color: #f0544f;
                        }
                    }
                    
                }
            }
        }
    }
}
}