@import '../App.scss';

.userProfile {
    @include themify($themes){
        background-color: themed('bgSoft');
        display: flex;
        flex-direction: column;
        

        .images{
            position: relative;
            width: 100%;
            height: 300px;

            .cover{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .userImg{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
                top: 220px;

                @include mobile {
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .userContainer {
            padding: 20px 70px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include mobile {
                padding: 10px;
                margin-top: 10px;
            }

            .profileUserInfo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 180px;
                background-color: themed('bg');
                color: themed('textColor');
                -webkit-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
                border-radius: 20px;
                padding: 50px;

                @include mobile {
                    flex-direction: column;
                    height: 25vh;
                    gap: 5px;
                }

                @include tablet {
                    padding: 20px;
                }

                .left{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    gap: 10px;  
                    margin-right: 10px;

                    @include tablet {
                        flex-wrap: wrap;
                    }
                    
                    .socialIcon {
                        cursor: pointer;
                    }
                }

                .center {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .username {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    .details {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        @include tablet {
                            gap: 20px;
                        }

                        .item {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: themed('textColorSoft');

                            span {
                                font-size: 12px;
                            }
                        }
                    }
                    
                    button {
                        border: none;
                        color: white;
                        background-color: #5271ff;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

                .right {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;

                    svg {
                        cursor: pointer;
                    }
                }                
            }
        }
    }
}